# Binaries
**/bin/
bin-int/

# Atum files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Atum/vendor/VulkanSDK
Atumnut/assets/cache
scripts/__pycache__